In [1]:
import pandas as pd
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(2018)
import nltk
nltk.download('wordnet')
from gensim import corpora, models

[nltk_data] Downloading package wordnet to /Users/xijiahu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
news = pd.read_csv('FinalNews.csv', error_bad_lines=False)

In [3]:
def lemmatize_stemming(text):
    return WordNetLemmatizer().lemmatize(text, pos='v')

def preprocess(text):
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result.append(lemmatize_stemming(token))
    return result

In [4]:
processed_docs = news['Ncontent'].map(preprocess)

In [5]:
dictionary = gensim.corpora.Dictionary(processed_docs)

In [6]:
count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 ability
1 accord
2 accuse
3 acknowledge
4 active
5 addition
6 advertise
7 advertisement
8 advocacy
9 affair
10 affiliate

In [7]:
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]

In [8]:
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)

In [9]:
from pprint import pprint
corpus_tfidf = tfidf[bow_corpus]
for doc in corpus_tfidf:
    pprint(doc)
    break

[(0, 0.031525414207240324),
 (1, 0.03991540284444522),
 (2, 0.036970420646929285),
 (3, 0.03062440756267819),
 (4, 0.02937971222753259),
 (5, 0.02937971222753259),
 (6, 0.016132867695373043),
 (7, 0.02898984994787927),
 (8, 0.06039238321867404),
 (9, 0.045896513380327866),
 (10, 0.03804194767745612),
 (11, 0.018658185256284442),
 (12, 0.021791800991428693),
 (13, 0.05921953857646538),
 (14, 0.03249322108187023),
 (15, 0.03249322108187023),
 (16, 0.013190072598799065),
 (17, 0.04952275929892806),
 (18, 0.03062440756267819),
 (19, 0.07608389535491224),
 (20, 0.02978157213458381),
 (21, 0.05184596383269263),
 (22, 0.018833482069544907),
 (23, 0.04145894881001391),
 (24, 0.02476137964946403),
 (25, 0.035919545287343764),
 (26, 0.013421218748086623),
 (27, 0.02157230983310134),
 (28, 0.02395332298095002),
 (29, 0.021014188342539455),
 (30, 0.1146573293566666),
 (31, 0.02937971222753259),
 (32, 0.025479406523703688),
 (33, 0.03467484995219816),
 (34, 0.07676518674101063),
 (35, 0.03804194767745612),
 (36, 0.027198083357204653),
 (37, 0.035919545287343764),
 (38, 0.031525414207240324),
 (39, 0.05295935689649507),
 (40, 0.03691304719446464),
 (41, 0.027537308053041488),
 (42, 0.04431383920922406),
 (43, 0.06934969990439632),
 (44, 0.0793530105845101),
 (45, 0.03141856383977436),
 (46, 0.02157230983310134),
 (47, 0.05757389005575797),
 (48, 0.021791800991428693),
 (49, 0.01516506082074314),
 (50, 0.04790664596190004),
 (51, 0.017815349828190063),
 (52, 0.027537308053041488),
 (53, 0.09904551859785612),
 (54, 0.038833669864160654),
 (55, 0.02937971222753259),
 (56, 0.02476137964946403),
 (57, 0.05008447628173461),
 (58, 0.02157230983310134),
 (59, 0.05757389005575797),
 (60, 0.07108413666964108),
 (61, 0.03062440756267819),
 (62, 0.036589405782618344),
 (63, 0.022948256690163933),
 (64, 0.05956314426916762),
 (65, 0.02788557979912176),
 (66, 0.032000354419740785),
 (67, 0.03467484995219816),
 (68, 0.013775794822797212),
 (69, 0.02476137964946403),
 (70, 0.05300355230538104),
 (71, 0.06305082841448065),
 (72, 0.12997288432748091),
 (73, 0.015299004728300859),
 (74, 0.033005420710526874),
 (75, 0.03467484995219816),
 (76, 0.02937971222753259),
 (77, 0.03467484995219816),
 (78, 0.02224217032837592),
 (79, 0.038833669864160654),
 (80, 0.1549915907562236),
 (81, 0.07649502364150429),
 (82, 0.02861128963042343),
 (83, 0.035919545287343764),
 (84, 0.02898984994787927),
 (85, 0.02861128963042343),
 (86, 0.02779231792117417),
 (87, 0.03249322108187023),
 (88, 0.03409433587044415),
 (89, 0.033005420710526874),
 (90, 0.04403008863313885),
 (91, 0.12437684643004175),
 (92, 0.02562275222262131),
 (93, 0.055074616106082976),
 (94, 0.0524605529651495),
 (95, 0.0265449764453748),
 (96, 0.07766733972832131),
 (97, 0.022948256690163933),
 (98, 0.029030409083076865),
 (99, 0.010885654488725563),
 (100, 0.03467484995219816),
 (101, 0.022015044316569424),
 (102, 0.06812588293741326),
 (103, 0.041656576780886426),
 (104, 0.025329269838012616),
 (105, 0.03662899313140196),
 (106, 0.03595924276828769),
 (107, 0.02937971222753259),
 (108, 0.03062440756267819),
 (109, 0.05008447628173461),
 (110, 0.03729549214440636),
 (111, 0.027076688689758665),
 (112, 0.038833669864160654),
 (113, 0.08261192415912447),
 (114, 0.012304349064821548),
 (115, 0.02592589317398514),
 (116, 0.009177871573366421),
 (117, 0.02562275222262131),
 (118, 0.0793530105845101),
 (119, 0.019747100416201726),
 (120, 0.10016895256346922),
 (121, 0.04448434065675184),
 (122, 0.020729474405006956),
 (123, 0.03249322108187023),
 (124, 0.013076015834473558),
 (125, 0.02476137964946403),
 (126, 0.05648678882965902),
 (127, 0.028778051245433048),
 (128, 0.06305082841448065),
 (129, 0.031067142046146277),
 (130, 0.026867447557766915),
 (131, 0.11444515852169372),
 (132, 0.044703675754119494),
 (133, 0.010507094171269727),
 (134, 0.05812184653358385),
 (135, 0.018833482069544907),
 (136, 0.07183909057468753),
 (137, 0.043583601982857385),
 (138, 0.07032337005688014),
 (139, 0.04242080193282861),
 (140, 0.04448434065675184),
 (141, 0.014515204541538432),
 (142, 0.02824339441482951),
 (143, 0.014264054176181004),
 (144, 0.036589405782618344),
 (145, 0.02779231792117417),
 (146, 0.035306237930996714),
 (147, 0.023192365040519723),
 (148, 0.034669161640019326),
 (149, 0.032000354419740785),
 (150, 0.03062440756267819),
 (151, 0.0352823742121516),
 (152, 0.0265449764453748),
 (153, 0.033538532139495085),
 (154, 0.06510868843374304),
 (155, 0.7183909057468753),
 (156, 0.03409433587044415),
 (157, 0.033538532139495085),
 (158, 0.040655228995911466),
 (159, 0.029080325426879564),
 (160, 0.040655228995911466),
 (161, 0.024217158550319987),
 (162, 0.019011163946551224),
 (163, 0.021791800991428693),
 (164, 0.01831449656570098),
 (165, 0.022948256690163933),
 (166, 0.06595036299399533),
 (167, 0.06406934038319521),
 (168, 0.02623027648257475),
 (169, 0.04448434065675184),
 (170, 0.03766696413908981),
 (171, 0.062134284092292554),
 (172, 0.009347476768971266),
 (173, 0.03967650529225505),
 (174, 0.02898984994787927),
 (175, 0.03467484995219816),
 (176, 0.02013122859411458),
 (177, 0.05061265256030838),
 (178, 0.019747100416201726),
 (179, 0.033005420710526874),
 (180, 0.02828053462188574),
 (181, 0.02824339441482951),
 (182, 0.038833669864160654),
 (183, 0.02395332298095002),
 (184, 0.02224217032837592),
 (185, 0.053446049484570185),
 (186, 0.05153453625899369),
 (187, 0.14635762313047337),
 (188, 0.025042238140867305),
 (189, 0.022948256690163933),
 (190, 0.02224217032837592),
 (191, 0.03409433587044415),
 (192, 0.00909388789805095),
 (193, 0.046384730081039445),
 (194, 0.042712893588796805),
 (195, 0.019937752218302417),
 (196, 0.015434336680341379),
 (197, 0.0793530105845101),
 (198, 0.03033012164148628),
 (199, 0.023192365040519723),
 (200, 0.05875942445506518),
 (201, 0.03804194767745612),
 (202, 0.027537308053041488),
 (203, 0.04541725529160883),
 (204, 0.018658185256284442),
 (205, 0.04026245718822916),
 (206, 0.06934969990439632),
 (207, 0.06498644216374046),
 (208, 0.013076015834473558),
 (209, 0.02562275222262131),
 (210, 0.05124550444524262),
 (211, 0.0352823742121516),
 (212, 0.035919545287343764),
 (213, 0.020729474405006956),
 (214, 0.04228818775952033),
 (215, 0.017979621384143846),
 (216, 0.023694712223213694),
 (217, 0.03409433587044415),
 (218, 0.024217158550319987),
 (219, 0.027537308053041488),
 (220, 0.07459098428881272),
 (221, 0.03804194767745612),
 (222, 0.02954255947281604),
 (223, 0.025258993122764167),
 (224, 0.043583601982857385),
 (225, 0.031525414207240324),
 (226, 0.05763652516024554),
 (227, 0.020935138757909172),
 (228, 0.0387478976890559),
 (229, 0.038833669864160654),
 (230, 0.02824339441482951),
 (231, 0.0352823742121516),
 (232, 0.02448643440991823),
 (233, 0.038833669864160654),
 (234, 0.04202837668507891),
 (235, 0.08159425007161396),
 (236, 0.026610268562963477),
 (237, 0.036589405782618344),
 (238, 0.01671990659190385),
 (239, 0.057878732310519425),
 (240, 0.03729549214440636),
 (241, 0.011987100674556274)]

In [10]:
lda_model = gensim.models.LdaMulticore(bow_corpus, num_topics=5, id2word=dictionary, passes=2, workers=2)

In [11]:
for idx, topic in lda_model.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

Topic: 0
Words: 0.007*"claim" + 0.007*"tell" + 0.006*"investigation" + 0.006*"kogan" + 0.006*"wylie" + 0.006*"harvest" + 0.006*"leave" + 0.005*"know" + 0.005*"share" + 0.005*"personal"
Topic: 1
Words: 0.008*"like" + 0.008*"congress" + 0.008*"zuckerberg" + 0.008*"target" + 0.007*"india" + 0.006*"know" + 0.006*"party" + 0.006*"committee" + 0.006*"profile" + 0.005*"report"
Topic: 2
Words: 0.010*"profile" + 0.009*"employee" + 0.008*"voter" + 0.007*"wylie" + 0.007*"parscale" + 0.007*"analyticas" + 0.007*"mercer" + 0.006*"business" + 0.006*"effort" + 0.006*"know"
Topic: 3
Words: 0.011*"report" + 0.009*"profile" + 0.009*"group" + 0.007*"voter" + 0.006*"investigation" + 0.006*"zuckerberg" + 0.006*"privacy" + 0.005*"analyticas" + 0.005*"mercer" + 0.005*"party"
Topic: 4
Words: 0.009*"obtain" + 0.009*"personal" + 0.007*"share" + 0.006*"kogan" + 0.006*"voter" + 0.006*"british" + 0.006*"party" + 0.006*"access" + 0.006*"help" + 0.006*"executive"

In [12]:
scoresperdoc=lda_model.inference(bow_corpus)
with open('Newstopic_news.tsv', "w",encoding="utf-8") as fo:
    for row in scoresperdoc[0]:
       fo.write("\t".join(["{:0.3f}".format(score) for score in row]))
       fo.write("\n")

In [13]:
release = pd.read_csv('fb_release1116.csv')

In [14]:
def lemmatize_stemming(text):
    return WordNetLemmatizer().lemmatize(text, pos='v')

def preprocess(text):
    result1 = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 3:
            result1.append(lemmatize_stemming(token))
    return result1

In [15]:
processed_docs1 = release['content'].map(preprocess)

In [16]:
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)
bow_corpus1 = [dictionary.doc2bow(doc) for doc in processed_docs1]

In [17]:
doc_lda = lda_model[bow_corpus1]

In [18]:
scoresperdoc1=lda_model.inference(bow_corpus1)
with open('Newstopic_release.tsv', "w",encoding="utf-8") as fo:
    for row in scoresperdoc1[0]:
       fo.write("\t".join(["{:0.3f}".format(score) for score in row]))
       fo.write("\n")

In [19]:
topic_news = pd.read_csv("Newstopic_news.tsv", sep='\t', names = ["topic0", "topic1", "topic2", "topic3", 'topic4'])

In [20]:
topic_release = pd.read_csv("Newstopic_release.tsv", sep='\t', names = ["topic0", "topic1", "topic2", "topic3", 'topic4'])

In [21]:
news_topic = topic_news.join(news)

In [22]:
news_topic

,topic0,topic1,topic2,topic3,topic4,Index,date,Ntitle,Ncontent
0,0.204,0.204,433.184,0.204,0.204,0,"June 15, 2018","['excambridge', 'analytica', 'staff', 'working...","['highlight', 'ap', 'confirmed', 'least', 'fou..."
1,0.204,0.204,435.183,0.205,0.204,1,"June 15, 2018","['excambridge', 'analytica', 'staff', 'working...","['highlight', 'ap', 'confirmed', 'least', 'fou..."
2,0.204,0.204,373.184,0.204,0.204,2,"June 18, 2018","['trump', '2020', 'working', 'excambridge', 'a...","['abstract', 'mbowers', 'ap', 'learned', 'dona..."
3,0.204,0.204,369.184,0.204,0.204,3,"June 17, 2018","['trump', '2020', 'working', 'excambridge', 'a...","['highlight', 'mbowers', 'ap', 'learned', 'don..."
4,0.202,0.204,0.203,13.189,0.202,4,"March 30, 2018","['letter', 'could', 'cambridge', 'analytica', ...","['highlight', 'instead', 'influencing', 'elect..."
5,0.202,0.204,0.203,13.189,0.202,5,"March 30, 2018","['letter', 'could', 'cambridge', 'analytica', ...","['highlight', 'instead', 'influencing', 'elect..."
6,0.204,0.204,409.184,0.204,0.204,6,"June 17, 2018","['revealed', 'firm', 'run', 'former', 'cambrid...","['·', 'excambridge', 'analytica', 'staffer', '..."
7,8.897,0.205,1.490,151.837,88.571,7,"May 15, 2018","['cambridge', 'analytica', 'parent', 'company'...","['dateline', 'london', 'abstract', 'corporate'..."
8,250.962,54.886,0.205,0.205,37.743,8,"March 22, 2018","['facebook', 'ceo', 'mark', 'zuckerberg', 'cam...","['1136', 'facebook', 'ceo', 'mark', 'zuckerber..."
9,0.205,110.181,0.204,0.206,0.205,9,"March 24, 2018","['cambridge', 'analytica', 'scandal', 'governm...","['368', 'cambridge', 'analytica', 'scandal', '..."
10,43.550,73.834,0.205,0.206,0.205,10,"March 23, 2018","['facebookcambridge', 'analytica', 'row', 'dat...","['450', 'facebook', 'cambridge', 'analytica', ..."
11,165.697,7.689,0.204,0.205,0.205,11,"June 20, 2018","['australian', 'victim', 'speak', 'cambridge',...","['cambridge', 'analytica', 'scandal', 'brought..."
12,276.872,135.694,0.206,111.023,0.205,12,"March 24, 2018","['cambridge', 'analytica', 'misled', 'mp', 'sa...","['brittany', 'kaiser', 'contradicts', 'exceo',..."
13,0.206,0.204,21.812,0.206,11.572,13,"May 2, 2018","['cambridge', 'analytica', 'announces', 'closu...","['119', 'british', 'consultancy', 'cambridge',..."
14,0.205,14.447,0.206,7.506,8.636,14,"March 30, 2018","['pri', 'demarcates', 'cambridge', 'analytica']","['126', 'city', 'mexico', 'march', '30', 'the'..."
15,0.205,88.908,0.206,7.494,11.187,15,"March 29, 2018","['cambridge', 'analytica', 'facebook', 'scanda...","['304', 'cambridge', 'analyticas', 'parent', '..."
16,18.320,36.010,0.204,30.261,0.205,16,"April 5, 2018","['facebook', 'data', 'breach', '562', 'lakh', ...","['313', 'even', 'indian', 'government', 'asked..."
17,8.000,13.677,82.109,109.008,0.206,17,"June 20, 2018","['psychographics', 'behavioural', 'analysis', ...","['dealing', 'revealed', 'cambridge', 'analytic..."
18,14.933,163.943,6.006,58.912,0.205,18,"November 12, 2017","['congress', 'talking', 'cambridge', 'analytic...","['1009', 'dateline', 'new', 'delhinew', 'delhi..."
19,12.040,90.520,0.206,0.206,54.029,19,"May 4, 2018","['zuckerberg', 'break', 'silence']","['facebook', 'chief', 'executive', 'mark', 'zu..."
20,70.068,0.205,72.925,0.205,36.597,20,"October 25, 2018","['facebook', 'fined', '£500000', 'cambridge', ...","['·', 'britain', 'information', 'commissioner'..."
21,0.205,198.181,0.205,0.205,0.205,21,"March 21, 2018","['cambridge', 'analytica', 'row', 'ravi', 'sha...","['624', 'facebook', 'data', 'scandal', 'hit', ..."
22,45.713,236.213,0.205,0.206,3.663,22,"March 24, 2018","['cambridge', 'analytica', 'scandal', 'social'...","['facebook', 'chief', 'executive', 'mark', 'zu..."
23,17.798,17.487,0.205,0.205,196.305,23,"April 10, 2018","['facebook', 'data', 'scandal', 'here', 'check...","['727', 'facebook', 'blog', 'post', 'revealed'..."
24,4.216,2.666,28.141,96.726,0.251,24,"March 29, 2018","['digital', 'threat']","['594', 'cambridge', 'analytica', 'relies', 'u..."
25,92.658,2.208,3.012,47.432,10.690,25,"March 24, 2018","['nigel', 'oakes', 'lowprofile', 'link', 'camb...","['one', 'man', 'managed', 'lie', 'low', 'amid'..."
26,105.378,23.645,370.568,0.205,0.205,26,"May 7, 2018","['cambridge', 'analytica', 'turn', 'click', 'v...","['87m', 'record', 'scraped', 'facebook', 'beco..."
27,0.206,102.346,0.205,50.038,0.206,27,"April 2, 2018","['privacy', 'law', 'exist', 'cyberspace', 'ill...","['cook', 'county', 'state', 'attorney', 'kim',..."
28,0.205,47.941,0.206,22.276,7.373,28,"March 22, 2018","['kc', 'tyagi', 'say', 'cambridge', 'analytica...","['new', 'delhi', 'janata', 'dal', 'u', 'leader..."
29,0.205,0.206,60.489,55.701,77.399,29,"October 26, 2017","['trump', 'clinton', 'funding', 'russia', 'inf...","['wikileaks', 'confirms', 'trump', 'associate'..."
...,...,...,...,...,...,...,...,...,...
283,10.901,0.206,144.417,0.205,51.272,283,"March 27, 2018","['cambridge', 'analytica', 'hot', 'water']","['presidential', 'election', 'company', 'calle..."
284,0.205,0.265,246.119,0.205,0.205,284,"March 21, 2018","['leonid', 'bershidsky', 'cambridge', 'analyti...","['facebook', 'hammered', 'allowing', 'data', '..."
285,43.181,0.204,0.204,0.206,0.206,285,"July 11, 2018","['facebook', 'rap', 'facebook', 'face', '£5000...","['facebook', 'set', 'fined', '£500000', 'uk', ..."
286,0.206,160.181,0.204,0.205,0.205,286,"July 5, 2018","['cambridge', 'analytica', 'go', 'away', 'face...","['facebook', 'really', 'want', 'move', 'cambri..."
287,0.205,92.180,0.204,0.205,0.206,287,"July 5, 2018","['cambridge', 'analytica', 'go', 'away', 'face...","['facebook', 'really', 'want', 'move', 'cambri..."
288,0.205,160.181,0.204,0.205,0.205,288,"July 5, 2018","['cambridge', 'analytica', 'go', 'away', 'face...","['652', 'facebook', 'really', 'want', 'move', ..."
289,0.204,0.203,0.204,0.204,87.185,289,"May 7, 2018","['cambridge', 'analytica', 'must', 'return', '...","['uk', 'privacy', 'watchdog', 'ordered', 'camb..."
290,0.204,0.203,0.204,0.204,79.185,290,"May 7, 2018","['cambridge', 'analytica', 'must', 'return', '...","['uk', 'privacy', 'watchdog', 'ordered', 'camb..."
291,0.204,0.203,0.204,0.204,87.185,291,"May 7, 2018","['cambridge', 'analytica', 'must', 'return', '...","['uk', 'privacy', 'watchdog', 'ordered', 'camb..."
292,10.294,55.807,0.204,0.205,122.491,292,"March 30, 2018","['cong', 'engaged', 'cambridge', 'analytica']","['788', 'dateline', 'newdelhinewdelhi', 'march..."
293,0.206,84.179,0.205,0.205,0.205,293,"March 28, 2018","['exstaffer', 'claim', 'cambridge', 'analytica...","['london', 'former', 'employee', 'cambridge', ..."
294,217.796,13.588,0.206,0.205,0.205,294,"March 29, 2018","['cambridge', 'analyticas', 'role', 'africa', ...","['election', 'manipulation', 'hot', 'story', '..."
295,22.789,117.595,0.205,0.205,0.206,295,"March 28, 2018","['cambridge', 'analytica', 'staff', 'get', 'hu...","['whistleblower', 'cambridge', 'analytica', 'c..."
296,54.114,25.808,0.205,2.667,0.205,296,"April 25, 2018","['government', 'sends', 'second', 'notice', 'f...","['dateline', 'new', 'delhinew', 'delhi', 'apri..."
297,14.826,56.035,0.204,0.205,117.731,297,"March 30, 2018","['congress', 'engaged', 'cambridge', 'analytic...","['788', 'dateline', 'indiaindia', 'march', '30..."
298,12.634,54.931,0.204,0.205,122.026,298,"March 29, 2018","['cong', 'engaged', 'cambridge', 'analytica']","['788', 'dateline', 'new', 'delhinew', 'delhi'..."
299,213.594,0.205,0.205,0.205,10.790,299,"June 20, 2018","['data', 'firm', 'probe', 'cambridge', 'analyt...","['inspector', 'information', 'commissioner', '..."
300,41.783,33.678,0.206,0.205,86.127,300,"March 21, 2018","['mp', 'demand', 'answer', 'facebook', 'bos', ...","['mp', 'demanded', 'facebooks', 'chief', 'exec..."
301,39.547,34.857,0.214,0.205,87.176,301,"March 21, 2018","['mp', 'demand', 'answer', 'facebook', 'bos', ...","['mp', 'demanded', 'facebooks', 'chief', 'exec..."
302,0.205,0.206,229.180,0.205,0.205,302,"March 21, 2018","['leonid', 'bershidsky', 'facebook', 'real', '...","['facebook', 'hammered', 'allowing', 'data', '..."
303,69.342,0.205,83.208,0.205,28.039,303,"October 25, 2018","['facebook', 'fined', '£500000', 'cambridge', ...","['·', 'britain', 'information', 'commissioner'..."
304,61.422,0.205,95.682,0.205,29.486,304,"October 25, 2018","['facebook', 'fined', '£500000', 'cambridge', ...","['·', 'britain', 'information', 'commissioner'..."
305,66.869,0.205,0.205,0.204,4.517,305,"April 10, 2018","['log', 'facebook', 'account', 'check', 'cambr...","['282', 'facebook', 'launched', 'new', 'tool',..."
306,0.205,496.181,0.205,0.204,0.204,306,"March 24, 2018","['data', 'really', 'swing', 'election', 'cambr...","['among', 'many', 'lesson', 'learnt', 'week', ..."
307,0.205,497.181,0.205,0.204,0.204,307,"March 24, 2018","['data', 'really', 'swing', 'election', 'cambr...","['among', 'many', 'lesson', 'learn', 'meltdown..."
308,0.205,497.181,0.205,0.204,0.204,308,"March 24, 2018","['data', 'really', 'swing', 'election', 'cambr...","['among', 'many', 'lesson', 'learn', 'meltdown..."
309,26.575,213.009,0.206,3.817,30.394,309,"March 22, 2018","['facebookcambridge', 'analytica', 'scandal', ...","['big', 'internet', 'company', 'small', 'softw..."
310,0.205,253.180,0.204,0.205,0.206,310,"March 21, 2018","['congress', 'bjp', 'trade', 'charge', 'hiring...","['881', 'dateline', 'indiaindia', 'march', '21..."
311,156.457,0.205,8.252,43.880,0.205,311,"March 4, 2017","['cambridge', 'analytica', 'affair', 'raise', ...","['law', 'clear', 'everything', 'else', 'dark',..."
312,78.386,0.205,0.205,169.999,0.205,312,"July 12, 2018","['facebook', 'fined', 'uk', 'cambridge', 'anal...","['highlight', 'information', 'commissioner', '..."

In [23]:
news_topic = news_topic.rename(index=str, columns={"date.1": "news_date"})

In [24]:
news_topic['date'] = pd.to_datetime(news_topic['date'].replace(',',''), format = ' %B %d, %Y')

In [25]:
news_topic.to_csv('news_topic.csv', index_label='Index')

In [26]:
release_topic = topic_release.join(release)

In [27]:
release_topic

,topic0,topic1,topic2,topic3,topic4,Index_name,date,title,content
0,5.379,120.712,5.498,0.205,0.206,0,"October 8, 2018",Introducing Portal From Facebook: New Video Ca...,"['could', 'easily', 'connect', 'closest', 'fri..."
1,0.206,0.207,0.205,0.205,22.177,1,"September 26, 2018",Introducing Oculus Quest _� a New All-in-One V...,"['today', 'oculus', 'connect', '5', 'oc5', 'in..."
2,23.440,27.520,26.630,0.205,0.205,2,"September 23, 2018",Introducing the Facebook Community Leadership ...,"['ime', 'archibong', 'vice', 'president', 'pro..."
3,23.688,23.421,69.480,0.206,0.205,3,"February 9, 2018",A New Investment in Community Leaders,"['jennifer', 'dulski', 'head', 'group', 'commu..."
4,0.206,112.717,0.219,0.205,25.653,4,"February 6, 2018",Safer Internet Day: Teaching Children to Safel...,"['antigone', 'davis', 'global', 'head', 'safet..."
5,5.895,0.207,0.206,0.206,31.487,5,"February 4, 2018","This Friends Day, Show Gratitude for Your Clos...","['mike', 'nowak', 'product', 'director', 'good..."
6,0.204,0.205,0.208,6.179,0.204,6,"January 31, 2018",Facebook Reports Fourth Quarter and Full Year ...,"['clickherefor', 'detail', 'facebook�s', 'fina..."
7,16.914,102.603,16.072,0.205,0.206,7,"January 29, 2018",More Local News on Facebook,"['alex', 'hardiman', 'head', 'news', 'product'..."
8,0.274,224.771,0.206,15.543,0.206,8,"January 28, 2018",Giving You More Control of Your Privacy on Fac...,"['erin', 'egan', 'chief', 'privacy', 'officera..."
9,214.955,299.341,35.537,2.961,0.207,9,"January 25, 2018",Guest Post: Is Social Media Good or Bad For De...,"['toomas', 'hendrik', 'ilves', 'distinguished'..."
10,42.463,92.633,1.492,0.206,0.206,10,"January 22, 2018",Hard Questions: Social Media and Democracy,"['katie', 'harbath', 'global', 'politics', 'go..."
11,0.206,42.591,33.793,0.205,0.206,11,"January 22, 2018",Training 1 Million People and Small Businesses...,"['ciaran', 'quilty', 'vp', 'small', 'business'..."
12,32.878,28.874,6.676,0.205,31.367,12,"January 19, 2018",Helping Ensure News on Facebook Is From Truste...,"['adam', 'mosseri', 'head', 'news', 'feedlast'..."
13,25.820,23.673,0.206,0.205,99.095,13,"January 11, 2018",Bringing People Closer Together,"['adam', 'mosseri', 'head', 'news', 'feedfaceb..."
14,0.205,96.004,12.380,0.205,0.205,14,"January 18, 2018",Upcoming Facebook Community Boost Events and W...,"['dan', 'levy', 'vp', 'global', 'small', 'busi..."
15,0.206,0.206,17.545,43.596,35.447,15,"January 18, 2018",Kenneth I. Chenault Joins Facebook Board of Di...,"['facebook', 'today', 'announced', 'kenneth', ..."
16,0.206,0.205,54.115,47.892,6.582,16,"May 8, 2018",Jeff Zients Joins Facebook Board of Directors,"['facebook', 'today', 'announced', 'jeff', 'zi..."
17,20.180,8.851,14.654,0.206,21.109,17,"May 8, 2018",Moms Help Local Communities Grow,"['antigone', 'davis', 'facebook�s', 'global', ..."
18,62.187,130.647,8.662,0.402,41.103,18,"May 7, 2018",Hard Questions: Why Does Facebook Enable End-t...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
19,0.205,43.093,7.292,0.205,0.205,19,"May 3, 2018",Facebook Community Boost Celebrates Small Busi...,"['doug', 'frisbie', 'global', 'marketing', 'di..."
20,0.205,69.066,84.484,0.206,24.039,20,"May 2, 2018","F8 2018: Open AI Frameworks, New AR/VR Advance...","['second', 'day', 'f8', 'focused', 'longterm',..."
21,51.982,130.454,116.784,0.206,15.574,21,"May 1, 2018","F8 2018: Sharing to Stories, AR Camera Effects...","['today', 'global', 'developer', 'community', ..."
22,40.381,68.004,0.205,0.205,0.205,22,"May 1, 2018",Getting Feedback on New Tools to Protect Peopl...,"['erin', 'egan', 'vp', 'chief', 'privacy', 'of..."
23,33.829,209.553,0.205,0.205,11.208,23,"April 16, 2018",Hard Questions: What Data Does Facebook Collec...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
24,0.206,29.773,8.609,0.205,0.207,24,"April 4, 2018",We_�re Making Our Terms and Data Policy Cleare...,"['erin', 'egan', 'vp', 'chief', 'privacy', 'of..."
25,65.648,0.205,27.067,1.862,0.218,25,"March 25, 2018",Fact Check: Your Call and SMS History,"['may', 'seen', 'recent', 'report', 'facebook'..."
26,0.206,20.722,0.205,0.205,21.662,26,"March 21, 2018",Hard Questions: Update on Cambridge Analytica,"['update', 'april', '17', '2018you', 'visit', ..."
27,151.482,0.206,0.208,0.205,36.900,27,"March 16, 2018",Suspending Cambridge Analytica and SCL Group F...,"['paul', 'grewal', 'vp', 'amp', 'deputy', 'gen..."
28,28.578,4.806,0.205,0.205,0.206,28,"March 7, 2018","When Women Lead, Everyone Progresses","['maxine', 'williams', 'global', 'chief', 'div..."
29,0.206,61.831,5.553,0.206,0.205,29,"March 7, 2018",Introducing Video Chat in Messenger Lite,"['today', 'we�re', 'thrilled', 'introduce', 'v..."
...,...,...,...,...,...,...,...,...,...
66,0.431,97.233,1.925,0.205,0.206,66,"May 17, 2018",Announcing New Election Partnership With the A...,"['katie', 'harbath', 'global', 'politics', 'go..."
67,0.205,28.178,0.206,0.204,0.206,67,"May 15, 2018","An In-Depth Update on False News, From the Pro...","['tessa', 'lyon', 'product', 'managerat', 'f8'..."
68,0.205,16.181,0.205,0.204,0.205,68,"May 15, 2018",Complicated Problems Need Coordinated Teams,"['bygreg', 'marra', 'product', 'management', '..."
69,33.031,80.353,0.206,0.205,0.205,69,"May 15, 2018",Facebook Publishes Enforcement Numbers for the...,"['guy', 'rosenvp', 'product', 'managementwe�re..."
70,167.643,166.274,13.720,0.209,63.153,70,"April 24, 2018",Publishing Our Internal Enforcement Guidelines...,"['one', 'question', 'we�re', 'asked', 'often',..."
71,47.711,51.297,10.462,4.323,0.207,71,"April 23, 2018",Hard Questions: How Effective Is Technology in...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
72,12.285,135.767,4.537,0.206,0.205,72,"April 23, 2018",Hard Questions: What Information Do Facebook A...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
73,29.154,66.035,17.382,29.088,52.341,73,"April 17, 2018",Complying With New Privacy Laws and Offering N...,"['erin', 'egan', 'vp', 'chief', 'privacy', 'of..."
74,65.851,59.533,0.206,0.205,0.205,74,"March 28, 2018",It_�s Time to Make Our Privacy Tools Easier to...,"['erin', 'egan', 'vp', 'chief', 'privacy', 'of..."
75,0.206,65.621,33.764,0.205,0.205,75,"March 26, 2018",Facebook Community Boost Partners with St. Lou...,"['dan', 'levy', 'vp', 'global', 'smbin', 'nove..."
76,0.206,66.042,1.152,0.205,1.395,76,"March 26, 2018","More Local News on Facebook, Globally","['alex', 'hardiman', 'head', 'news', 'product'..."
77,0.804,216.561,14.316,0.205,74.114,77,"October 10, 2018","And Meanwhile, In Your City __/h1>","['bysteve', 'wengrovitz', 'head', 'news', 'res..."
78,6.559,192.901,52.130,0.205,0.206,78,"July 13, 2018",How Users Help Shape Facebook,"['seems', 'like', 'every', 'facebook', 'produc..."
79,7.578,38.804,0.206,0.205,0.206,79,"June 1, 2018",Removing Trending From Facebook,"['byalex', 'hardiman', 'head', 'news', 'produc..."
80,17.827,32.861,22.661,0.480,11.172,80,"June 1, 2018",Happy Pride!,"['alex', 'schultz', 'vp', 'amp', 'executive', ..."
81,7.911,68.375,18.089,0.205,1.421,81,"May 30, 2018",Facebook Community Boost Partners with Carolin...,"['ifeoma', 'ozoma', 'policy', 'programstoday',..."
82,32.168,203.960,1.466,0.205,26.200,82,"May 24, 2018",Hard Questions: Why Doesn_�t Facebook Just Ban...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
83,0.206,70.062,13.479,12.048,0.205,83,"October 23, 2018",Making Advertising Transparent,"['arti', 'kulkarni', 'andsarah', 'schiff', 'pr..."
84,24.944,31.440,0.205,0.205,0.206,84,"October 22, 2018",Removing a Spam Network From Facebook in the P...,"['part', 'ongoing', 'effort', 'protect', 'serv..."
85,59.192,30.192,0.205,0.205,0.205,85,"October 22, 2018",Removing Spam and Inauthentic Activity from Fa...,"['authenticity', 'core', 'value', 'facebook', ..."
86,8.025,103.224,59.710,0.206,2.836,86,"October 19, 2018",New Research Shows Facebook Making Strides Aga...,"['bytessa', 'lyon', 'product', 'managerhow', '..."
87,70.122,160.944,0.205,1.523,0.205,87,"October 19, 2018",The Hunt for False News,"['byantonia', 'woodford', 'product', 'managere..."
88,4.899,155.170,0.205,13.521,0.205,88,"September 13, 2018",Expanding Fact-Checking to Photos and Videos,"['antonia', 'woodford', 'product', 'managerwe'..."
89,86.736,125.057,14.796,0.205,0.206,89,"May 23, 2018",Hard Questions: What_�s Facebook_�s Strategy f...,"['hard', 'question', 'isa', 'seriesfrom', 'fac..."
90,60.066,11.838,0.206,10.149,17.741,90,"April 3, 2018",Helping People Better Assess the Stories They ...,"['taylor', 'hughes', 'software', 'engineer', '..."
91,1.909,83.979,2.700,0.206,0.206,91,"April 3, 2018","With 360 Degree Photos and HD Quality Video, M...","['sean', 'kelly', 'amp', 'hagen', 'green', 'pr..."
92,34.639,534.683,46.267,0.205,0.205,92,"March 29, 2018",Hard Questions: What is Facebook Doing to Prot...,"['hard', 'question', 'series', 'facebook', 'ad..."
93,0.205,41.179,0.206,0.205,0.205,93,"September 18, 2018",Boosting Small Businesses in the Magnolia State,"['jackson', 'mississippi', 'known', '�best', '..."
94,0.206,75.052,48.332,0.205,0.206,94,"September 17, 2018",Expanding Security Tools to Protect Political ...,"['nathaniel', 'gleicher', 'head', 'cybersecuri..."
95,221.592,142.790,0.205,0.208,0.205,95,"September 13, 2018",Seeing the Truth,"['today', 'facebook', 'announcedthat', 'it�s',..."

In [28]:
release_topic['date'] = pd.to_datetime(release_topic['date'].replace(',',''), format = '%B %d, %Y')

In [29]:
release_topic.to_csv('release_topic.csv', index_label= 'Index')

In [30]:
new_topic = news_topic.drop([ 'Ntitle','Ncontent'], axis=1)

In [31]:
new_topic.to_csv('news_topic.csv')

In [ ]:
release_topic2 = pd.read_csv('release_topic.csv')

In [32]:
new_topic = new_topic.rename(index=str, columns={"topic0": "n_topic0", "topic1": "n_topic1", "topic2": "n_topic2", "topic3": "n_topic3", "topic4": "n_topic4"})

In [33]:
result = new_topic.merge(release_topic, left_on='date', right_on='date', how='outer')

In [34]:
result = result.drop([ 'title','content','Index_name','Index'], axis=1)

In [35]:
result.to_csv('result1222.csv')

In [36]:
result

,n_topic0,n_topic1,n_topic2,n_topic3,n_topic4,date,topic0,topic1,topic2,topic3,topic4
0,0.204,0.204,433.184,0.204,0.204,2018-06-15,NaN,NaN,NaN,NaN,NaN
1,0.204,0.204,435.183,0.205,0.204,2018-06-15,NaN,NaN,NaN,NaN,NaN
2,0.204,0.204,373.184,0.204,0.204,2018-06-18,NaN,NaN,NaN,NaN,NaN
3,0.204,0.204,235.184,0.204,0.204,2018-06-18,NaN,NaN,NaN,NaN,NaN
4,0.204,0.204,369.184,0.204,0.204,2018-06-17,NaN,NaN,NaN,NaN,NaN
5,0.204,0.204,409.184,0.204,0.204,2018-06-17,NaN,NaN,NaN,NaN,NaN
6,0.202,0.204,0.203,13.189,0.202,2018-03-30,NaN,NaN,NaN,NaN,NaN
7,0.202,0.204,0.203,13.189,0.202,2018-03-30,NaN,NaN,NaN,NaN,NaN
8,0.205,14.447,0.206,7.506,8.636,2018-03-30,NaN,NaN,NaN,NaN,NaN
9,0.205,0.204,28.181,0.206,0.205,2018-03-30,NaN,NaN,NaN,NaN,NaN
10,0.205,67.301,4.749,89.540,0.205,2018-03-30,NaN,NaN,NaN,NaN,NaN
11,71.519,29.556,0.206,41.321,16.399,2018-03-30,NaN,NaN,NaN,NaN,NaN
12,234.902,88.727,107.961,0.205,0.205,2018-03-30,NaN,NaN,NaN,NaN,NaN
13,10.294,55.807,0.204,0.205,122.491,2018-03-30,NaN,NaN,NaN,NaN,NaN
14,14.826,56.035,0.204,0.205,117.731,2018-03-30,NaN,NaN,NaN,NaN,NaN
15,8.897,0.205,1.490,151.837,88.571,2018-05-15,0.205,28.178,0.206,0.204,0.206
16,8.897,0.205,1.490,151.837,88.571,2018-05-15,0.205,16.181,0.205,0.204,0.205
17,8.897,0.205,1.490,151.837,88.571,2018-05-15,33.031,80.353,0.206,0.205,0.205
18,0.204,0.204,0.206,114.755,0.631,2018-05-15,0.205,28.178,0.206,0.204,0.206
19,0.204,0.204,0.206,114.755,0.631,2018-05-15,0.205,16.181,0.205,0.204,0.205
20,0.204,0.204,0.206,114.755,0.631,2018-05-15,33.031,80.353,0.206,0.205,0.205
21,194.761,92.013,23.272,46.749,0.206,2018-05-15,0.205,28.178,0.206,0.204,0.206
22,194.761,92.013,23.272,46.749,0.206,2018-05-15,0.205,16.181,0.205,0.204,0.205
23,194.761,92.013,23.272,46.749,0.206,2018-05-15,33.031,80.353,0.206,0.205,0.205
24,250.962,54.886,0.205,0.205,37.743,2018-03-22,NaN,NaN,NaN,NaN,NaN
25,0.205,47.941,0.206,22.276,7.373,2018-03-22,NaN,NaN,NaN,NaN,NaN
26,0.204,0.204,0.206,13.340,30.045,2018-03-22,NaN,NaN,NaN,NaN,NaN
27,158.286,48.778,199.177,40.327,30.431,2018-03-22,NaN,NaN,NaN,NaN,NaN
28,70.587,53.325,4.676,0.206,0.206,2018-03-22,NaN,NaN,NaN,NaN,NaN
29,9.854,214.051,4.684,0.205,0.205,2018-03-22,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
365,NaN,NaN,NaN,NaN,NaN,2018-05-24,19.062,61.028,1.498,0.206,0.206
366,NaN,NaN,NaN,NaN,NaN,2018-05-24,32.168,203.960,1.466,0.205,26.200
367,NaN,NaN,NaN,NaN,NaN,2018-06-28,4.931,32.803,0.205,6.342,14.719
368,NaN,NaN,NaN,NaN,NaN,2018-06-27,1.174,67.208,0.206,0.205,0.206
369,NaN,NaN,NaN,NaN,NaN,2018-06-27,0.206,0.205,9.345,0.205,39.040
370,NaN,NaN,NaN,NaN,NaN,2018-05-22,13.300,0.206,4.796,0.205,7.494
371,NaN,NaN,NaN,NaN,NaN,2018-05-22,2.332,61.053,0.205,0.205,0.205
372,NaN,NaN,NaN,NaN,NaN,2018-05-22,13.884,0.206,4.227,0.205,7.478
373,NaN,NaN,NaN,NaN,NaN,2018-05-22,1.519,61.867,0.205,0.205,0.205
374,NaN,NaN,NaN,NaN,NaN,2018-05-22,95.546,157.839,0.205,0.204,0.206
375,NaN,NaN,NaN,NaN,NaN,2018-05-23,0.206,14.717,0.205,0.206,8.666
376,NaN,NaN,NaN,NaN,NaN,2018-05-23,41.767,8.873,18.313,0.245,12.801
377,NaN,NaN,NaN,NaN,NaN,2018-05-23,0.206,51.253,0.206,0.205,2.130
378,NaN,NaN,NaN,NaN,NaN,2018-05-23,18.802,54.407,11.507,0.205,5.079
379,NaN,NaN,NaN,NaN,NaN,2018-05-23,86.736,125.057,14.796,0.205,0.206
380,NaN,NaN,NaN,NaN,NaN,2018-05-17,0.206,111.245,10.824,0.205,0.520
381,NaN,NaN,NaN,NaN,NaN,2018-05-17,0.431,97.233,1.925,0.205,0.206
382,NaN,NaN,NaN,NaN,NaN,2018-04-23,47.711,51.297,10.462,4.323,0.207
383,NaN,NaN,NaN,NaN,NaN,2018-04-23,12.285,135.767,4.537,0.206,0.205
384,NaN,NaN,NaN,NaN,NaN,2018-10-10,0.804,216.561,14.316,0.205,74.114
385,NaN,NaN,NaN,NaN,NaN,2018-07-13,6.559,192.901,52.130,0.205,0.206
386,NaN,NaN,NaN,NaN,NaN,2018-06-01,7.578,38.804,0.206,0.205,0.206
387,NaN,NaN,NaN,NaN,NaN,2018-06-01,17.827,32.861,22.661,0.480,11.172
388,NaN,NaN,NaN,NaN,NaN,2018-05-30,7.911,68.375,18.089,0.205,1.421
389,NaN,NaN,NaN,NaN,NaN,2018-10-22,24.944,31.440,0.205,0.205,0.206
390,NaN,NaN,NaN,NaN,NaN,2018-10-22,59.192,30.192,0.205,0.205,0.205
391,NaN,NaN,NaN,NaN,NaN,2018-10-19,8.025,103.224,59.710,0.206,2.836
392,NaN,NaN,NaN,NaN,NaN,2018-10-19,70.122,160.944,0.205,1.523,0.205
393,NaN,NaN,NaN,NaN,NaN,2018-09-13,4.899,155.170,0.205,13.521,0.205
394,NaN,NaN,NaN,NaN,NaN,2018-09-13,221.592,142.790,0.205,0.208,0.205

In [37]:
result1 = result.set_index('date').groupby(pd.Grouper(freq='D')).mean()

In [38]:
result1

,n_topic0,n_topic1,n_topic2,n_topic3,n_topic4,topic0,topic1,topic2,topic3,topic4
date,,,,,,,,,,
2017-03-04,156.45700,0.20500,8.25200,43.880,0.2050,NaN,NaN,NaN,NaN,NaN
2017-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-22,1.13300,30.25000,0.20500,0.206,0.2060,NaN,NaN,NaN,NaN,NaN
2017-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2018-09-26,NaN,NaN,NaN,NaN,NaN,0.20600,0.2070,0.20500,0.2050,22.17700
2018-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-29,237.88100,105.77200,30.47100,7.671,0.2050,NaN,NaN,NaN,NaN,NaN
2018-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-08,NaN,NaN,NaN,NaN,NaN,5.37900,120.7120,5.49800,0.2050,0.20600
2018-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-10,NaN,NaN,NaN,NaN,NaN,0.80400,216.5610,14.31600,0.2050,74.11400
2018-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-19,NaN,NaN,NaN,NaN,NaN,39.07350,132.0840,29.95750,0.8645,1.52050
2018-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-22,NaN,NaN,NaN,NaN,NaN,42.06800,30.8160,0.20500,0.2050,0.20550
2018-10-23,0.20400,420.18000,0.20600,0.205,0.2050,4.89925,50.5925,23.88625,3.1665,0.20575
2018-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-25,50.25925,0.20475,63.00525,0.205,39.0755,NaN,NaN,NaN,NaN,NaN

In [39]:
result1.to_csv('result1222D.csv')

In [215]:
result1.to_csv('result1210.csv')

In [40]:
result2 = result.set_index('date').groupby(pd.Grouper(freq='W')).mean()

In [41]:
result2.to_csv('result1222w.csv')